<section class="list-wrapper">
  <div *ngIf="type === 'exercise' || !type">
    <h2>Exercises List!</h2>
    <button class="btn btn-secondary btn-create" [routerLink]="['/admin/ex/exercise']"> Create Exercise </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Title</th>
          <th scope="col">Section</th>
          <th scope="col">Hide</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ex of exercises;">
          <th scope="row"> {{ ex.name }} </th>
          <td>{{ ex.title }}</td>
          <td>{{ ex.section }}</td>
          <td>
            <div class="form-group">
              <div class="custom-control custom-switch">
                <input type="checkbox" name="{{ex.name}}" class="custom-control-input" id="{{ex.name}}" (change)="changeDisable($event, ex, 'ex')" [checked]="ex.disable">
                <label class="custom-control-label" for="{{ex.name}}"></label>
              </div>
            </div>
          </td>
          <td><button class="btn btn-secondary" [routerLink]="['/admin/ex/exercise']" [queryParams]="{id: ex._id}">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="type === 'task'">
      <h2>Tasks List!</h2>
      <button class="btn btn-secondary btn-create" [routerLink]="['/admin/ex/task']"> Create Task </button>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Distribution</th>
            <th scope="col">Hide</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks;" (click)="exerciseClick(task)">
            <th scope="row"> {{ task.name }} </th>
            <td>{{ task.distribution.name }}</td>
            <td>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" name="{{task.name}}" class="custom-control-input" id="{{task.name}}" (change)="changeDisable($event, task, 'task')" [checked]="task.disable">
                  <label class="custom-control-label" for="{{task.name}}"></label>
                </div>
              </div>
            </td>
            <td><button class="btn btn-secondary" [routerLink]="['/admin/ex/task']" [queryParams]="{id: task._id}">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
