<section class="exercise-wrapper">
  <h2 class="title">Exercise</h2>
  <form [formGroup]="exerciseForm">
    <div class="form-group row">
      <label for="name" class="col-md-3 col-form-label">Exercise Name: </label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="name" placeholder="exercise name">
      </div>
    </div>
    <div class="form-group row">
      <label for="title" class="col-md-3 col-form-label">Exercise Title: </label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="title" placeholder="exercise title">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-md-3 col-form-label">Description: </label>
      <div class="col-md-9">
        <input type="text" class="form-control" formControlName="description" placeholder="exercise description">
      </div>
    </div>
    <div class="radio-block">
      <span>Section: </span>
      <div class="custom-control custom-radio">
        <input type="radio" [(ngModel)]="section" formControlName="section" id="cpe" [value]="'cpe'"
          class="custom-control-input">
        <label class="custom-control-label" for="cpe">CPE</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" [(ngModel)]="section" formControlName="section" id="ske" [value]="'ske'"
          class="custom-control-input">
        <label class="custom-control-label" for="ske">SKE</label>
      </div>
    </div>

    <hr>

    <div class="task-list-wrapper">
      <h5>Task List</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">select</th>
            <th scope="col">Name</th>
            <th scope="col">Distribution</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks;" >
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="{{task.name}}" class="custom-control-input" id="{{task.name}}" (change)="changeTask($event, task)" [checked]="findTask(task._id)">
                <label class="custom-control-label" for="{{task.name}}"></label>
              </div>
            </td>
            <th scope="row"> {{ task.name }} </th>
            <td>{{ task.title }}</td>
            <!-- <td>
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="showExercise" >
                  <label class="custom-control-label" for="selectedTask"></label>
                </div>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <div class="button-block">
      <button class="btn btn-primary" (click)="saveClick()">
        Save
      </button>
      <button class="btn btn-danger" (click)="deleteClick()">
        Delete
      </button>
    </div>
  </form>
</section>