<section class="home-page-wrapper">
  <app-navbar></app-navbar>
  <div class="welcome-box">
    <h3>Probability And Statistic</h3>
    <h5>Welcome, {{ user.fullName }} </h5>
  </div>
  <div class="content">

    <div class="exercise-card " *ngFor="let ex of exercises; let i = index;">
      <h4> {{ ex.title }} </h4>
      <hr>
      <div class="task-wrapper">
        <div class="task-item" *ngFor="let task of ex.tasks">
          <span class="dot"></span> <span class="task-title" [routerLink]="['/exercise']"
            [queryParams]="{ex: ex._id, task: task._id}"> {{ task.title }} </span>
        </div>
      </div>
    </div>
  </div>

</section>