<app-navbar></app-navbar>

<section class="generate-page-wrapper">
  <h1> {{ exercise?.title }} </h1>
  <h2> {{ task?.title }} </h2>
  <div style="display: flex">
    <span class="aod">Amount of Data: {{ aod }} </span>
    <span class="noc"> Number of Click: {{ noc }}</span>
  </div>
  <div class="data-area">
    <span *ngIf="!tmp.length">
      To collect samples:
      <br>
      <span class="dot"></span> Click "Generate" to collect needed samples. One time click may give you insufficient samples. Copy and paste
      values into your spreadsheet. Then, click "Generate" to collect more samples without reset.
      <br>
      <span class="dot"></span>Once you collect sufficient samples, make sure you click "Submit". Your assignment will be graded upon statistics
      that you submit.
      <br>
      <span class="dot"></span>Click "Reset" to restart the process of sample collection.
      Activity
    </span>
    <span *ngFor="let x of tmp;">
      {{x}}
    </span>
  </div>
  <div class="button-group">
    <button class="btn btn-info" (click)="generateClick()">Generate</button>
    <button class="btn btn-success" (click)="submitClick()">Submit</button>
    <button class="btn btn-danger" (click)="resetClick()">Reset</button>
  </div>
</section>
