<app-navbar></app-navbar>

<section class="generate-page-wrapper">
  <h1> {{ exercise?.title }} </h1>
  <h2> {{ task?.title }} </h2>
  <div style="display: flex">
    <span class="aod">Amount of Data: {{ aod }} </span>
    <span class="noc"> Number of Click: {{ noc }}</span>
  </div>
  <div class="data-area">
    <span *ngFor="let x of tmp;">
      {{x}}
    </span>
  </div>
  <div class="button-group">
    <button class="btn btn-info" (click)="generateClick()">Generate</button>
    <button class="btn btn-success" (click)="submitClick()">Submit</button>
    <button class="btn btn-danger" (click)="resetClick()">Reset</button>
  </div>
</section>
